# Pengenalan Python

In [5]:
# numerik : integer, float, complex

# integer 
angka = 7 
print(angka)
type(angka)

7

int

In [6]:
# string 
nama = "Xyla"
print(nama)
type(nama)

Xyla

str

In [21]:
# string
namas = 'Xyla R\'am'
print(namas)
type(namas)

Xyla R'am

str

In [20]:
# string triple quote
nama = """Xyla R\'am
coba
3 baris"""
print(nama)
type(nama)
nama[9]

Xyla R'am
coba
3 baris

'\n'

In [23]:
slicing = "slicingparameter"
print(slicing)

slicingparameter

In [31]:
slicing[1:15:3]

'lipat'

## User Input Program

In [42]:
nama = input("Masukkan nama anda : ")
usia = input("Masukkan usia anda : ")
print(f"Nama kamu adalah {nama} \nusia kamu adalah {usia}")

Nama kamu adalah {nama}
usia kamu adalah {usia}

In [39]:
age = int(input("Please enter your age: "))
print(f"Usia kamu adalah {age}")
if age >= 18: 
    print("You are able to vote !")
else:
    print("You are not able to vote.")

Usia kamu adalah 20
You are able to vote !

Variable

In [45]:
a, b, c = 1, 2, 3
print(f"a : {a} \nb : {b} \nc : {c}")

a : 1
b : 2
c : 3

In [46]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

False
True
True
False

In [51]:
s = 'foo' 
t = 'bAr'
# + and * Operators
print(s + t )
print(s * 4)
#Case Conversion
print(s.capitalize())
print(t.upper())
print(s.lower())
print(t.swapcase())

foobAr
foofoofoofoo
Foo
BAR
foo
BaR

In [52]:
my_tuple = (1,3,2, "test" , True , (1,2,3))
my_list = [1,3,2, "test" , True , (1,2,3)]

In [54]:
print(type(my_tuple))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [57]:
len(my_tuple)
len(my_list)

6

In [63]:
my_tuple

(1, 3, 2, 'test', True, (1, 2, 3))

In [66]:
my_tuple[5]

(1, 2, 3)

Tuple = immmutable bisa dimodifikasi

list = mutable bisa dimodifikasi

In [68]:
my_list[5] = False #bisa dimodif

In [71]:
my_list.append(3)
my_list.insert(3,42)

In [72]:
my_list

[1, 3, 2, 42, 'test', True, False, 3]

In [74]:
del my_list[2]

In [75]:
MLB_team = {
 'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
}
print(MLB_team['Minnesota']) 
#Adding an entry to an existing dictionary 
MLB_team['Kansas City'] = 'Royals'
MLB_team

Twins

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Kansas City': 'Royals'}

In [76]:
angka1 = int(input("masukan angka 1: "))